.head-top-box {
	border-top: 5px solid #37b5dd;
	background: #333;
	height: 30px;
}

.w1200-mg-auto {
	width: 1200px;
	margin: 0 auto;
}

.index-ico {
	background: url(images/index-ico.png) no-repeat;
}

.head-lg-font {
	padding: 0 10px 0 20px;
	color: #fff;
	font: 12px/ 30px 'Century Gothic', '宋体';
	display: block;
	float: left;
	text-indent: 10px;
	text-decoration: none;
}

.head-lg-font.cur {
	background-color: #37b5dd;
	padding: 0 10px 0 20px;
}

.tell-position {
	background-position: 0 8px;
}

.ct-cn-position {
	background-position: 10px -16px;
}

.ct-en-position {
	background-position: 10px -41px;
}

.ct-jp-position {
	background-position: 10px -68px;
}

.hover-lg-box:hover {
	background-color: #37b5dd;
}

.hd-slog-font {
	font-size: 12px;
	color: #f1f1f1;
	line-height: 30px;
	display: block;
	width: auto;
}

.head-middle-box {
	padding: 10px 0px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.replies .commentBox .content {
	margin: 9px 3px 0;
}

.replies .content {
	clear: both;
	color: #2b2b2b;
	font-size: 14px;
	line-height: 20px;
	margin: 9px 3px;
	word-wrap: break-word;
}

form,ul,ol,li,h1,h2,h3,h4,h5,h6,p,input,select,label,div,textarea {
	margin: 0;
	padding: 0;
}

.commentBox {
	word-wrap: break-word;
}

.commentBox {
	word-wrap: break-word;
}

.commentBox {
	word-wrap: break-word;
}

.commentBox {
	word-wrap: break-word;
}

.replies .body {
	font-size: 14px;
	white-space: normal;
	word-break: break-all;
}

.replies .reply {
	color: #000;
	text-align: left;
}

.search-box {
	background-color: #fff;
	border: 1px solid #ddd;
	height: 29px;
	margin-top: 30px;
	margin-left: 30px;
	width: 400px;
}

.show-text {
	color: #999999;
	cursor: text;
	font-size: 12px;
	left: 9px;
	position: absolute;
	text-shadow: none;
	top: 8px;
	width: 100%;
	z-index: 2;
	text-align: left;
}

.sb-text {
	background-color: #fff;
	border: 0 none;
	color: #d1d1d1;
	height: 20px;
	line-height: 20px;
	margin: 4px 0 0 10px;
	width: 170px;
}

.search-btn {
	background-position: 0 -100px;
	display: block;
	height: 30px;
	width: 30px;
}

.search-btn:hover {
	background-position: 0 -130px;
}

.hd-cart-box {
	background-color: #f9f9f9;
	background-position: 20px -152px;
	padding: 10px 20px;
	text-indent: 25px;
	margin-top: 25px;
	display: block;
	text-decoration: none;
	border:1px solid #f9f9f9;
}

.pice-color {
	color: #d0191e;
}

.hd-cart-box i {
	background-position: 0 -186px;
	display: block;
	float: right;
	height: 12px;
	width: 12px;
}

.hd-cart-box:hover {
	background-color: #f1f1f1;
}

.hd-cart-box.cur{
	background-color:#fff; 
	border:1px solid #ddd;
	border-bottom:none;
	position:relative;
	z-index:4000;  
}

.cp {
	cursor: pointer;
}

.hd-link-font {
	color: #333;
	text-decoration: none;
	font: 12px/ 30px 'Century Gothic', '宋体';
}

.hd-link-font:hover {
	color: #d0191e;
	text-decoration: underline;
}

.hd-bar {
	padding: 10px 20px;
	background-color: #F1F1F1;
	font: 14px/ 18px 'Century Gothic', '宋体';
	text-decoration: none;
	color: #333;
}

.hd-bar.cur {
	background-color: #37b5dd;
	color: #fff;
}

.hd-bar:hover {
	background-color: #37b5dd;
	color: #fff;
}

.left-menu-box {
	width: 189px;
	margin-right: 15px;
}

.chd-menu-box {
	border-top: 2px solid #333;
	padding-top: 10px;
	margin-bottom: 20px;
}

.cmb-title {
	background-position: 174px -209px;
	color: #333;
	display: block;
	font: bold 15px/ 18px 'Century Gothic', '宋体';
	text-align: left;
	text-decoration: none;
	width: 100%;
	margin-bottom: 10px;
}

.cmb-cld-name {
	background-position: 0 -247px;
	color: #333;
	display: block;
	font: 12px/ 28px 'Century Gothic', '宋体';
	text-align: left;
	text-decoration: none;
	text-indent: 25px;
	width: 100%;
	overflow: hidden;
	height: 28px;
}

.cmb-cld-name:hover {
	background-color: #f1f1f1;
	background-position: 0px -247px;
	text-indent: 30px;
}

.next-menu-box {
	background-position: 97% -267px;
	color: #333;
	display: block;
	font: 14px/ 28px 'Century Gothic', '宋体';
	text-align: left;
	text-decoration: none;
	text-indent: 15px;
	width: 100%;
	background-color: #f1f1f1;
	margin-bottom: 5px;
}

.next-menu-box:hover {
	background-color: #37b5dd;
	background-position: 97% -290px;
	color: #fff;
}

.tips-box {
	padding: 5px 10px;
	border: 1px dotted #ddd;
	margin-top: 15px;
}

.tips-box h1 {
	font: bold 14px/ 28px 'Century Gothic', '宋体';
	margin-bottom: 5px;
}

.tips-ps01 {
	background-position: 0 -318px;
	font: 12px/ 28px 'Century Gothic', '宋体';
	text-indent: 23px;
	width: 82px;
	color: #666;
	margin-bottom: 5px;
}

.tips-ps02 {
	background-position: 0 -347px;
	font: 12px/ 28px 'Century Gothic', '宋体';
	text-indent: 23px;
	width: 82px;
	color: #666;
	margin-bottom: 5px;
}

.tips-ps03 {
	background-position: 0 -373px;
	font: 12px/ 28px 'Century Gothic', '宋体';
	text-indent: 23px;
	width: 82px;
	color: #666;
	margin-bottom: 5px;
}

.tips-ps04 {
	background-position: 0 -400px;
	font: 12px/ 28px 'Century Gothic', '宋体';
	text-indent: 23px;
	width: 82px;
	color: #666;
	margin-bottom: 5px;
}

.foot-top-box {
	background: url("images/foot-bg-img.png") repeat;
	border-top: 1px solid #e0e0e0;
	min-height: 200px;
	width: 100%;
	padding: 40px 0;
}

.foot-chd-box {
	width: 210px;
	margin-right: 30px;
}

.foot-chd-box h1 {
	font: bold 14px/ 37px 'Century Gothic', '宋体';
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.block {
	display: block;
}

.normal-font {
	color: #333;
	font: 12px/ 30px 'Century Gothic', '宋体';
	text-decoration: none;
}

.foot-normal-ps01 {
	background-position: 0 -430px;
	text-indent: 22px;
}

.foot-normal-ps02 {
	background-position: 0 -459px;
	text-indent: 22px;
}

.foot-normal-ps03 {
	background-position: 0 -488px;
	text-indent: 22px;
}

.foot-botoom-box {
	background-color: #f9fbfc;
	width: 100%;
	padding: 10px 0;
	min-height: 28px;
	border-top: 1px solid #ddd;
}

.hot {
	background: url(images/hot-ico.png) no-repeat;
	top: -5px;
	position: absolute;
	right: 0px;
	width: 22px;
	height: 12px;
}

.new {
	background: url(images/new-ico.png) no-repeat;
	top: -5px;
	position: absolute;
	right: 0px;
	width: 22px;
	height: 12px;
}

.hide-bar-box {
	background-color: #fff;
	border-top: 2px solid #37b5dd;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	left: 0;
	min-height: 300px;
	position: absolute;
	top: 38px;
	width: 1170px;
	z-index: 9000;
	display: none;
	padding: 10px 15px 30px; 
}

.hbb-title {
	font: 14px/ 37px 'Century Gothic', '宋体';
	color: #333;
	text-decoration: none;
}

.hbb-title:hover {
	text-decoration: underline;
	color: #37b5dd;
}

.hbb-chd-box {
	width: 190px;
	margin-right: 10px;
	min-height:170px;
}

.font-normal-title {
	font: bold 16px/ 18px 'Century Gothic', '宋体';
	color: #333;
	text-decoration: none;
}

.font-normal-title:hover {
	color: #d0191e;
	text-decoration: underline;
}

.font-normal-detail {
	font: 12px/ 18px 'Century Gothic', '宋体';
	color: #999;
	text-decoration: none;
}

.main-top-rb {
	border: 1px solid #ddd;
	padding: 10px;
	width: 295px;
}

.main-top-rb h1 {
	color: #da5c44;
	font: bold 24px/ 33px 'Century Gothic', '宋体';
	margin-bottom: 10px;
}

.main-top-rb span {
	color: #666;
	font: 12px/ 22px 'Century Gothic', '宋体';
}

.main-tb-rb {
	border: 1px dotted #ddd;
	padding: 5px;
	width: 143px;
}

.main-tb-rb h1 {
	font: bold 14px/ 22px 'Century Gothic', '宋体';
	color: #da5c44;
}

.paion-ul {
	overflow: hidden;
	width: 99999px;
}

.main-mt-box {
	height: 163px;
	overflow: hidden;
	padding: 25px 10px;
	position: relative;
	width: 975px;
	z-index: 10;
}

.paion-ul li{
	float:left;
	margin:0 10px 0 57px;
	width:120px;
	text-align: center;
}

.img-font-link {
	text-decoration: none;
	color: #333;
	text-align: center;
}

.img-font-link:hover {
	text-decoration: underline;
	color: #d0191e;
}

.pa-left-btn {
	background-position: 0 -526px;
	display: block;
	height: 60px;
	left: 0;
	position: absolute;
	top: 55px;
	width: 60px;
	z-index: 22;
}

.pa-left-btn:hover {
	background-position: 0 -582px;
}

.pa-right-btn {
	background-position: 15px -643px;
	display: block;
	height: 60px;
	position: absolute;
	right: 0;
	top: 55px;
	width: 60px;
	z-index: 22;
}

.pa-right-btn:hover {
	background-position: 15px -707px;
}

.img-font-link {
	display: block;
	width:120px;
	height:180px;
	overflow:hidden; 
	position:relative; 
}

.discount{
	background: url("images/discount.png") no-repeat;
	left: 0px;
	position: absolute;
	top: 0;
	width: 50px;
	height: 27px;
	
}
.discount-num{
	color:#f9ecbd;
	width:30px;
	height:15px;
	margin:8px 0 0 3px;
	display:block;
	font-weight:bold;
}

.main-mm-box {
	margin: 15px 0px 20px;
}

.mx-img {
	background: url("images/mx-img.jpg") no-repeat;
	width: 146px;
	height: 272px;
}

.mx-img:hover {
	background: url("images/mx-img.jpg") no-repeat;
}

.mmb-big-pd {
	border: 1px solid #ddd;
	position: relative;
	z-index: 33;
	height: 270px;
	width: 270px;
	overflow: hidden;
}

.mmb-pice-box {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.mpb-bg {
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	height: 33px;
	position: absolute;
	bottom: 0px;
	width: 270px;
	z-index: 10;
}

.mpb-bg-small {
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	height: 33px;
	position: absolute;
	bottom: 1px;
	width: 135px;
	z-index: 10;
}

.pice-font-box {
	height: 33px;
	position: absolute;
	bottom: 0px;
	width: 270px;
	z-index: 30;
	background-position: 242px -791px;
}

.pice-font-box div {
	font: bold 12px/ 33px 'Century Gothic', '宋体';
	text-indent: 10px;
	color: #333;
}

.pice-font-box span {
	font: bold 18px/ 33px 'Century Gothic', '宋体';
	color: #333;
	text-indent: 10px;
	margin: 0 10px;
}

.pice-font-box b {
	font: 12px/ 33px 'Century Gothic', '宋体';
	color: #666;
	text-decoration: line-through
}

.cur .mpb-bg {
	height: 65px;
}

.cur .pice-font-box {
	height: 65px;
	border-top: 2px solid #df1515;
}

.mmb-small-pd {
	border: 1px solid #ddd;
	display: block;
	height: 135px;
	margin: 0 0 0 -1px;
	width: 135px;
	float: left;
	position: relative;
	overflow: hidden;
}

.msp-pice-box {
	bottom: 0;
	left: 0;
	position: absolute;
}

.pice-next-box {
	background-position: 242px -791px;
	bottom: 0;
	height: 33px;
	position: absolute;
	width: 135px;
	z-index: 30;
}

.pice-next-box div {
	font: bold 12px/ 33px 'Century Gothic', '宋体';
	text-indent: 5px;
	color: #333;
}

.pice-next-box span {
	font: bold 14px/ 33px 'Century Gothic', '宋体';
	color: #333;
	text-indent: 5px;
	margin: 0 5px;
}

.pice-next-box b {
	font: 10px/ 33px 'Century Gothic', '宋体';
	color: #666;
	text-decoration: line-through
}

.cur .mpb-bg-small {
	height: 50px;
}

.cur .pice-next-box {
	height: 50px;
	border-top: 2px solid #df1515;
}

.cur .pice-next-box div {
	font: bold 12px/ 22px 'Century Gothic', '宋体';
}

.brank-box {
	height: 270px;
	margin-left: -2px;
	width: 303px;
	border: 1px solid #ddd;
	position: relative;
	z-index: 30;
	overflow: hidden;
}

.brank-left-btn {
	background-position: 0 -828px;
	display: block;
	height: 55px;
	left: 0;
	position: absolute;
	top: 108px;
	width: 38px;
	z-index: 22;
}

.brank-left-btn:hover {
	background-position: -68px -828px;
}

.brank-right-btn {
	background-position: 7px -876px;
	display: block;
	height: 55px;
	position: absolute;
	right: 0;
	top: 108px;
	width: 38px;
	z-index: 22;
}

.brank-right-btn:hover {
	background-position: -61px -876px;
}

.brank-paion-ul {
	overflow: hidden;
	width: 99999px;
}

.brank-paion-ul li {
	float: left;
	height: 254px;
	padding: 8px 33px;
	width: 237px;
	background: url("images/index-ico.png") no-repeat 100px -1024px;
}

.brank-paion-ul li a {
	display: block;
	float: left;
	position: relative;
	z-index: 1;
	margin: 15px;
}

.brank-paion-ul li a i {
	background-position: -1px -939px;
	display: block;
	height: 60px;
	left: -5px;
	position: absolute;
	top: -5px;
	width: 95px;
	z-index: -1;
	display: none;
}

.controls {
	display: inline-block;
	margin-top: 30px;
}

.controls li {
	cursor: pointer;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.controls ul {
	height: 30px;
	line-height: 30px;
	width: 1030px;
	margin-left: 10px;
}

.controls li:hover {
	color: #bc1511;
}

.controls li.active {
	font-weight: 700;
	color: #bc1511;
}

#Grid {
	text-align: justify;
	font-size: 0.1px;
}

#Grid :after {
	content: '';
	display: inline-block;
	width: 100%;
}

#Grid .mix {
	border: 1px solid #E0E0E0;
	display: inline;
	float: left;
	height: 200px;
	margin: 5px 8px 20px 10px;
	overflow: hidden;
	position: relative;
	width: 330px;
	display: none;
}

#Grid .gap {
	display: inline-block;
	width: 200px;
}

.controls li {
	float: left;
}

/* nav */
.navs {
	position: relative;
	height: 28px;
	width: 100%;
	border-bottom: 2px solid #333;
	padding-bottom: 2px;
}

.navs li {
	float: left;
	display: inline;
	height: 26px;
	line-height: 26px;
	margin-right: 20px;
}

.navs li a {
	padding: 0 8px;
	font-size: 14px;
	color: #333;
	font-weight: 700;
	text-decoration: none;
}

.navs li a:hover {
	text-decoration: none;
}

.navs li.last a {
	font-weight: normal;
	font-size: 12px;
}

.navs li.cur a {
	color: #df1515;
}

.navs .nav-line {
	border-bottom: 2px solid #df1515;
	height: 7px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 23px;
	z-index: 1;
}

.nav-line b {
	background: url("images/index-ico.png") no-repeat 0 -1284px;
	display: block;
	font-size: 0;
	height: 17px;
	left: -4px;
	margin-left: 50%;
	margin-top: -8px;
	overflow: hidden;
	position: relative;
	width: 8px;
}

.to-top {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC #FFFFFF;
	border-image: none;
	border-style: solid;
	border-width: 0 6px 6px;
	display: block;
	height: 0;
	left: 30px;
	margin-top: -6px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0;
}

.to-right {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #FFFFFF #CCCCCC;
	border-image: none;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	display: block;
	height: 0;
	margin-right: -6px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 30px;
	width: 0;
}

.to-bottom {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC #FFFFFF;
	border-image: none;
	border-style: solid;
	border-width: 6px 6px 0;
	bottom: -2;
	display: block;
	height: 0;
	margin-bottom: -6px;
	overflow: hidden;
	position: absolute;
	right: 30px;
	width: 0;
}

.to-left {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #FFFFFF #CCCCCC;
	border-image: none;
	border-style: solid;
	border-width: 6px 6px 6px 0;
	bottom: 30px;
	display: block;
	height: 0;
	left: 0;
	margin-left: -6px;
	overflow: hidden;
	position: absolute;
	width: 0;
}

.type-paion-ul,.type-paion-ul2,.type-paion-ul3,.type-paion-ul4,.type-paion-ul5
	{
	overflow: hidden;
	width: 995px;
}

.type-paion-ul li,.type-paion-ul2 li,.type-paion-ul3 li,.type-paion-ul4 li,.type-paion-ul5 li
	{
	display: block;
    float: left;
    height: 200px;
    margin: 6px;
    text-align: center;
    width: 150px;
}

.mmb-cont {
	width: 995px;
	overflow: hidden;
	position: relative;
	z-index: 22;
}

.type-color-box {
	position: absolute;
	right: 0;
	top: 21px;
	width: 155px;
}

.type-gray-bg {
	background-color: #f1f1f1;
	height: 150px;
	width: 100%;
}

.type-green-bg {
	background-color: #8daf3c;
	color: #fff;
	height: 43px;
	width: 100%;
	text-align: center;
	line-height: 43px;
	font-weight: bold;
}

.type-left-btn,.type-left-btn2,.type-left-btn3,.type-left-btn4,.type-left-btn5
	{
	background-position: 0 -1333px;
	display: block;
	height: 55px;
	left: 42px;
	position: absolute;
	top: 38px;
	width: 38px;
	z-index: 22;
}

.type-left-btn:hover,.type-left-btn2:hover,.type-left-btn3:hover,.type-left-btn4:hover,.type-left-btn5:hover
	{
	background-position: -66px -1333px;
}

.type-right-btn,.type-right-btn2,.type-right-btn3,.type-right-btn4,.type-right-btn5
	{
	background-position: 0 -1377px;
	display: block;
	height: 55px;
	left: 82px;
	position: absolute;
	top: 66px;
	width: 38px;
	z-index: 22;
}

.type-right-btn:hover,.type-right-btn2:hover,.type-right-btn3:hover,.type-right-btn4:hover,.type-right-btn5:hover
	{
	background-position: -66px -1377px;
}

.type-gray-bg b {
	background-position: 0 -1433px;
	height: 100px;
	left: 33px;
	position: absolute;
	top: 21px;
	width: 155px;
	z-index: 0;
}

.ul-width-hidden {
	display: block;
	overflow: hidden;
}

.login-middle-box {
	width: 1180px;
	margin: 50px auto 0;
	min-height: 500px;
}

.login-tt {
	font-size: 26px;
	color: #333333;
	font-weight: bold;
	margin-left: 10px;
}

.login-form-item {
	clear: both;
	margin-top: 15px;
	overflow: hidden;
	padding-top: 3px;
}

.login-item-title {
	display: inline;
	float: left;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	text-align: right;
}

.login-input {
	height: 31px;
	line-height: 31px;
	border: 1px solid #b7b7b7;
	background: none;
	padding-left: 5px;
	font-size: 14px;
}

.w380 {
	width: 380px;
}

.forgot-a {
	font-size: 12px;
	color: #1888de;
	text-decoration: none;
}

.cursor-h {
	cursor: pointer;
}

.forgot-a:hover {
	text-decoration: underline;
}

.sign-in-btn {
	width: 140px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #ea5514;
	color: #fff;
	font-size: 12px;
	display: block;
	text-decoration: none;
	border-radius: 4px;
}

.sign-in-btn:hover {
	background: #e0370c;
}

.join-free {
	color: #ea5514;
	text-decoration: none;
}

.join-free:hover {
	text-decoration: underline;
}

.red-xx {
	color: #ff0c00;
	font-size: 12px;
	margin-right: 5px;
	vertical-align: middle;
}

.lf-cc-box {
	font-size: 12px;
	color: #b3b3b3;
	margin-top: 20px;
}

.login-middle-bg {
	background: url("images/login-bg.png") no-repeat center center;
	width: 100%;
	height: 650px;
}

.login-cc-box {
	background: url("images/login-tm-bg.png") repeat-x;
	width: 450px;
	height: 282px;
	float: right;
	margin: 130px 70px 0 0;
}

.login-tt-box {
	width: 385px;
	height: 63px;
	padding-left: 65px;
	line-height: 63px;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
}

.login-text-box {
	width: 385px;
	height: 219px;
	padding-left: 65px;
}

.login-mail-box {
	background: url("images/login-mail-box.png") no-repeat;
	width: 317px;
	height: 44px;
	margin-top: 22px;
}

.login-pwd-box {
	background: url("images/login-pwd-box.png") no-repeat;
	width: 317px;
	height: 44px;
	margin-top: 10px;
}

.login-text-input {
	width: 250px;
	height: 25px;
	line-height: 25px;
	margin: 9px 0 0 40px;
	font-size: 14px;
	color: #fff;
	background: none;
	border: 0 none;
}

.login-forget-box {
	width: 340px;
	margin-top: 10px;
}

.login-forget-box span {
	color: #333;
}

.forget-font a {
	color: #333;
	text-decoration: none;
}

.forget-font a:hover {
	text-decoration: underline;
}

.login-btn-box {
	width: 317px;
	margin-top: 15px;
}

.login-btn {
	width: 140px;
	height: 30px;
	background: #f84a4a;
	line-height: 30px;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 14px;
	text-decoration: none;
	border-radius: 2px;
}

.login-btn:hover {
	background: #f42b2b;
}

.login-btn-box span {
	color: #fff;
}

.login-btn-box a {
	color: #fff;
	text-decoration: none;
}

.login-btn-box a:hover {
	color: #fff;
	text-decoration: underline;
}

.w90 {
	width: 90px;
}

.member-center-mmbox {
	width: 1200px;
	min-height: 500px;
	padding-top: 30px;
	margin: 0 auto;
}

.mcm-left-box {
	width: 205px;
}

.mcm-right-box {
	width: 950px;
	min-height: 500px;
}

.mlb-tt {
	background: url("images/member-center-img.png") no-repeat;
	width: 201px;
	height: 40px;
}

.mlb-ul li {
	width: 205px;
	margin-top: 15px;
}

.ma-a {
	background: url("images/ma-ico.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #666;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

.ma-a:hover {
	background: url("images/ma-ico-hover.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #1bb8fa;
}

.ma-a.cur {
	background: url("images/ma-ico-hover.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #1bb8fa;
}

.mo-a {
	background: url("images/mo-ico.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #666;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

.mo-a:hover {
	background: url("images/mo-ico-hover.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #1bb8fa;
}

.mo-a.cur {
	background: url("images/mo-ico-hover.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #1bb8fa;
}

.da-a {
	background: url("images/da-ico.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #666;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

.da-a:hover {
	background: url("images/da-ico-hover.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #1bb8fa;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

.da-a.cur {
	background: url("images/da-ico-hover.png") no-repeat 0 2px;
	padding-left: 30px;
	width: 175px;
	color: #1bb8fa;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

.mp-box {
	width: 172px;
	height: 22px;
	margin: 10px 0 0 30px;
}

.mp-box a {
	display: block;
	width: 157px;
	height: 22px;
	line-height: 22px;
	padding-left: 15px;
	color: #666;
	font-size: 13px;
	text-decoration: none;
}

.mp-box a:hover {
	background: #e8f8fe;
	color: #1bb8fa;
}

.mp-box a.cur {
	background: #e8f8fe;
	color: #1bb8fa;
}

.mail-to-us-box {
	wodth: 200px;
	height: 160px;
	border: 1px solid #dadada;
	border-radius: 2px;
	margin-top: 30px;
	background: #f9f9f9;
}

.mtu-tt-box {
	width: 200px;
	height: 40px;
	border-bottom: 1px solid #dadada;
	text-align: center;
	font-size: 15px;
	color: #666;
	line-height: 40px;
	font-weight: bold;
}

.cuat-box {
	background: url("images/ntel-ico.png") no-repeat 31px 24px;
	padding-left: 65px;
	padding-top: 15px;
}

.cb1-font {
	font-size: 11px;
	color: #666;
}

.cb2-font {
	font-size: 14px;
	color: #666;
	font-weight: bold;
	margin-top: 3px;
}

.mail-to-us {
	width: 115px;
	height: 40px;
	line-height: 40px;
	display: block;
	border-radius: 2px;
	margin: 13px auto 0;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	background: #1cb162 url("images/mail-ico.png") no-repeat 27px 12px;
	padding-left: 55px;
}

.mail-to-us:hover {
	background: #129444 url("images/mail-ico.png") no-repeat 27px 12px;
}

.mrb-wel-font {
	font-size: 24px;
	color: #333333;
	margin-top: 5px;
}

.mrb-cc {
	font-size: 12px;
	color: #d3d3d3;
	margin-top: 10px;
}

.mrb-content-layout {
	width: 900px;
	background: #f9f9f9;
	margin-top: 20px;
	padding: 20px 25px 15px 25px;
	position: relative;
}

.mab-cz-box {
	width: 935px;
	height: 36px;
	background: #f7f7f7;
	margin-top: 13px;
	padding: 8px 0 0 15px;
}

.my-order-table {
	width: 950px;
}

.mot-cc-tr td {
	border: 1px solid #dadada;
	padding: 20px 0 20px 0;
}

.mot-tt-ul li {
	float: left;
	height: 35px;
	background: #eeeeee;
	color: #333333;
	line-height: 35px;
}

.num-col {
	color: #9f846f;
}

.mot-project {
	padding: 0 10px 0 20px;
}

.motp-box {
	width: 75px;
	height: 70px;
	border: 1px solid #dadada;
}

.motp-img-box {
	width: 75px;
	height: 70px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.motp-img-box img {
	max-width: 75px;
	max-height: 70px; *
	width: 75px; *
	height: 70px;
	text-align: center;
	vertical-align: middle;
}

.motp-cc-box {
	width: 345px;
	height: 70px;
}

.mcb-tt a {
	text-decoration: none;
	 color: #666;
    font-size: 16px;
    font-weight: bold;
}

.mcb-tt a:hover {
	text-decoration: underline;
}

.fs-num-font {
	color: #888888;
}

.orange-col {
	color: #f2840d;
}

.operation-a a {
	color: #1b6da7;
	text-decoration: none;
}

.operation-a a:hover {
	text-decoration: underline;
}

.gray-col {
	color: #555555;
}

.green-col {
	color: #0b8302;
}

.wg-col {
	color: #cfcfcf;
}

.mc-order-detailbox {
	width: 910px;
	padding: 5px 20px 10px 20px;
	background: #f9f9f9;
}

.od-font {
	font-size: 24px;
	color: #333333;
}

.od-sfont {
	font-size: 12px;
	color: #d3d3d3;
	margin-top: 10px;
}

.adc-font {
	font-size: 24px;
	color: #444446;
}

.adc-line {
	width: 835px;
	height: 7px;
	background: #f9f9f9;
	margin-top: 16px;
}

.logistics-table {
	width: 500px;
	margin-top: 20px;
}

.lt-tt-tr td {
	background: #f9f9f9;
	height: 30px;
	text-align: center;
}

.lt-cc-tr td {
	padding: 25px 0 25px 0;
	text-align: center;
}

.front-form-item {
	clear: both;
	overflow: hidden;
	padding-top: 3px;
}

.front-item-title {
	display: inline;
	float: left;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	text-align: right;
}

.front-item-cc {
	height: 32px;
	line-height: 32px;
	padding-left: 15px;
	float: left;
}

.address-text {
	height: 31px;
	border: 1px solid #dadada;
	margin: 0 0 10px 10px;
	padding-left: 5px;
	line-height: 31px;
	font-size: 12px;
}

.select_div {
	display: inline-block;
	border: 1px solid #999;
	padding: 2px;
	background-color: white;
	border-color: #cccccc;
	height: 19px;
	line-height: 19px;
	margin: 5px 0 0 10px;
}

.select_div select {
	border: 0 none;
	height: 19px;
	cursor: pointer;
	font-family: "微软雅黑", "Tahoma";
}

.co-save-btn {
	width: 100px;
	height: 28px;
	background: #ea5514;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	display: block;
	text-decoration: none;
	border-radius: 2px;
}

.co-save-btn:hover {
	background: #dd2c09;
}

.mrb-search-box {
	width: 920px;
	height: 45px;
	background: #f9f9f9;
	margin-top: 35px;
	padding-left: 30px;
	line-height: 45px;
}

.msb-table td {
	height: 45px;
}

/*分页*/
.pagination {
	float: right;
}

.pagination a {
	color: #0088CC;
	font-size: 12px;
}

.pagination a:hover {
	color: #999999;
}

.pagination ul {
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}

.pagination ul>li {
	display: inline;
}

.pagination ul>li:first-child>a {
	border-bottom-left-radius: 4px;
	border-left-width: 1px;
	border-top-left-radius: 4px;
}

.pagination ul>li>a {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	float: left;
	line-height: 20px;
	padding: 4px 12px;
	text-decoration: none;
}

.pagination ul .cur {
	background-color: #F5F5F5;
}

.pagination ul>li:last-child>a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pagination ul>li>a:hover {
	background-color: #F5F5F5;
}

.pagination ul {
	color: #999999;
	cursor: default;
}

.J-progress {
	float: left;
}

.go-page-box {
	line-height: 28px;
}

.pagination a.gpb-btn {
	padding: 2px 10px 2px 10px;
	background: #008adf;
	color: #fff;
	text-decoration: none;
	color: #fff;
	border-radius: 2px;
}

.pagination a.gpb-btn:hover {
	background: #1966c3;
}

.gpb-text {
	height: 20px;
	line-height: 20px;
	border: 1px solid #dadada;
	padding-left: 5px;
	color: #89786F;
}

.go-page-box label {
	color: #008adf;
}

.shopping-cart-box {
	width: 1200px;
	min-height: 500px;
	margin: 25px auto 0;
}

.shopping-step1 {
	background: url("images/shopping-step-bg.png") no-repeat 0 0;
	width: 1200px;
	height: 38px;
}

.shopping-step2 {
	background: url("images/shopping-step-bg.png") no-repeat 0 -49px;
	width: 1200px;
	height: 38px;
}

.shopping-step3 {
	background: url("images/shopping-step-bg.png") no-repeat 0 -100px;
	width: 1200px;
	height: 38px;
}

.sc-nav-box {
	width: 1188px;
	height: 37px;
	border: 1px solid #d7d7d7;
	background: #f9f9f9;
	margin-top: 25px;
	line-height: 40px;
	padding-left: 10px;
}

.sc-nav-box label {
	font-size: 18px;
	color: #d11919;
}

.sc-nav-box span {
	font-size: 12px;
	color: #333333;
	margin-left: 20px;
}

.sc-remove-btn {
	background: #37b5dd url("images/shopping-step-bg.png") no-repeat 8px
		-311px;
	width: 50px;
	height: 24px;
	display: block;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	line-height: 24px;
	padding-left: 35px;
	border-radius: 2px;
	margin-top: 40px;
}

.gwc-font {
	font-size: 20px;
	color: #d11919;
	margin-top: 25px;
	margin-left: 10px;
}

.gwc-font2 {
	font-size: 12px;
	color: #333333;
	margin-top: 10px;
	margin-left: 10px;
}

.cart-list-table {
	width: 1200px;
	margin-top: 15px;
}

.clt-tt-tr td {
	height: 37px;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	background: #f9f9f9;
	text-align: center;
}

.clt-cc-tr td {
	height: 150px;
	border-bottom: 1px solid #dadada;
}

.clt-cc-img {
	width: 150px;
	height: 150px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.clt-cc-img img {
	max-width: 120px;
	max-height: 120px;
	text-align: center;
	vertical-align: middle;
}

.goods-name-box a {
	font-size: 16px;
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

.goods-name-box a:hover {
	color: #37b5dd;
	text-decoration: underline;
}

.goods-gg-box label {
	color: #666666;
}

.r-price-box {
	color: #e21212;
}

.check-box-box {
	height: 120px;
	width: 50px;
	background: #fbfbfb;
	float: right;
	text-align: center;
}

.num-ul li {
	width: 28px;
	height: 28px;
	border: 1px solid #dadada;
	float: left;
	margin-left: -1px;
}

.js-box {
	background: url("images/js-ico.png") no-repeat;
	width: 27px;
	height: 27px;
	display: block;
}

.zj-box {
	background: url("images/zj-ico.png") no-repeat;
	width: 27px;
	height: 27px;
	display: block;
}

.num-text {
	width: 25px;
	height: 22px;
	line-height: 28px;
	text-align: center;
	border: 0 none;
	background: none;
	margin-top: 3px;
}

.total-box {
	width: 1200px;
	height: 40px;
	background: #f9f9f9;
	text-align: right;
	line-height: 40px;
	margin-top: 20px;
}

.total-box label {
	font-size: 12px;
	color: #666;
	margin-right: 20px;
	vertical-align: middle;
}

.total-box span {
	font-size: 18px;
	color: #e21212;
	margin-right: 15px;
	vertical-align: middle;
}

.buy-now-btn {
	width: 145px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	display: block;
	float: right;
	background: #ea5514;
	border-radius: 2px;
	margin-top: 15px;
}

.buy-now-btn:hover {
	background: #e21212;
}

.step2-address-box {
	background: url("images/shopping-step-bg.png") no-repeat 0 -174px;
	width: 1200px;
	height: 25px;
	margin-top: 30px;
}

.step2-address-cc-box {
	width: 703px;
	height: 185px;
	background: #f9f9f9;
	margin-top: 20px;
	padding-top: 10px;
	position: relative;
}

.step2-address-cc-box2 {
	background: none repeat scroll 0 0 #F9F9F9;
	margin-top: 20px;
	position: relative;
	width: 900px;
	padding: 10px 0 20px 0;
}

.atc-btn {
	width: 96px;
	height: 28px;
	background: #3597da;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	display: block;
	text-decoration: none;
	border-radius: 2px;
}

.atc-btn:hover {
	background: #1966c3;
}

.bin-btn {
	width: 96px;
	height: 28px;
	background: #ea5514;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	display: block;
	text-decoration: none;
	border-radius: 2px;
}

.bin-btn:hover {
	background: #dd2c09;
}

.cz-btn-box {
	bottom: 5px;
	height: 37px;
	position: absolute;
	right: 5px;
	width: 210px;
}

.address-textarea {
	width: 400px;
	height: 80px;
	border: 1px solid #dadada;
	resize: none;
	padding: 5px;
}

.co-close-btn {
	width: 76px;
	height: 28px;
	background: #cecece;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	display: block;
	text-decoration: none;
	border-radius: 2px;
}

.co-close-btn:hover {
	background: #bdbdbd;
}

.step2-od-box {
	background: url("images/shopping-step-bg.png") no-repeat 0 -234px;
	width: 1200px;
	height: 25px;
	margin-top: 30px;
}

.buyer-live-msg {
	padding: 20px 0 5px 40px;
}

.address-table {
	width: 1000px;
	margin-top: 15px;
}

.at-tt-tr td {
	height: 39px;
	background: #f7f7f7;
	border-bottom: 1px solid #cecece;
}

.at-cc-tr td {
	height: 45px;
	cursor: pointer;
}

.at-cc-tr:hover {
	background: #fff9e1;
}

.act-gray>td {
	background: #f7f7f7;
}

.act-gray:hover {
	background: #fff9e1;
}

.page-bar-line {
	border-top: 1px solid #dadada;
	padding-top: 15px;
	padding-bottom: 15px;
}

.topay-fbox {
	width: 1130px;
	height: 63px;
	background: #eaffef url("images/success-gg.png") no-repeat 25px 15px;
	border-top: 2px solid #35ac51;
	padding-top: 17px;
	padding-left: 70px;
}

.at-cc-tr a {
	color: #4442f7;
	text-decoration: none;
}

.at-cc-tr a:hover {
	color: #4442f7;
	text-decoration: underline;
}

.add-addr-m {
	font-size: 12px;
	color: #ea5514;
	margin-top: 25px;
}

.add-scuess-box {
	background: url("images/ac-success-ico.png") no-repeat;
	height: 26px;
	padding-left: 40px;
	line-height: 26px;
	font-size: 14px;
	color: #555555;
}

.acb-img-box {
	width: 110px;
	height: 110px;
	border: 1px solid #dadada;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.acb-img-box img {
	max-width: 110px;
	max-height: 110px;
	text-align: center;
	vertical-align: middle;
}

.acb-gdm-box {
	width: 510px;
}

.agb-name {
	font-size: 18px;
	color: #000000;
}

.agb-dj-box {
	font-size: 14px;
	color: #000;
	margin-top: 10px;
}

.agb-dj-box label {
	font-size: 14px;
	color: #ea5514;
}

.cms-detail-left {
	width: 980px;
}

.cms-detail-right {
	width: 190px;
	min-height: 500px;
	margin-top: 20px;
	border: 1px solid #dadada;
}

.cdl-img {
	width: 445px;
	height: 130px;
}

.cdl-img img {
	width: 445px;
	height: 130px;
}

.cms-detail-font {
	background: url("images/csbg.png") repeat-x;
	width: 970px;
	height: 51px;
	line-height: 51px;
	padding-left: 10px;
	margin-top: 20px;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.cdf-cc-box {
	width: 960px;
	min-height: 500px;
	padding: 10px;
}

.cmr-box {
	width: 230px;
	height: 40px;
	background: #333;
	line-height: 40px;
	padding-left: 20px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}

.cmr-ul-box {
	width: 210px;
	padding: 20px;
	background: #f5f5f5;
}

.cmr-ul li {
	height: 22px;
	line-height: 22px;
}

.cmr-ul li a {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

.cmr-ul li a:hover {
	color: #5bd2ec;
	text-decoration: underline;
}

.add-ags {
	background: url("images/add-ags.png") no-repeat;
	height: 66px;
	left: -18px;
	position: absolute;
	top: 33px;
	width: 67px;
	z-index: 200;
}

.gwc-box {
	padding-left: 51px;
	background: url("images/gwc-ico.png") no-repeat 0 25px;
}

.gwc-box2 {
	background: url("images/gwc-ico.png") no-repeat scroll 0 2px;
	margin: 0 auto;
	padding-left: 62px;
	width: 144px;
}

.ey-box {
	background: none repeat scroll 0 0 #f1f1f1;
	border: 1px solid #ddd;
	margin-top: 30px;
	padding: 40px 190px;
}

.blue-a-href {
	color: #1b6da7;
	text-decoration: none;
}

.blue-a-href:hover {
	text-decoration: underline;
}

.tab-bar-ptb {
	padding: 10px;
	background-color: #f9f9f9;
	color: #333;
	font-weight: bold;
}

.mt8 {
	margin-top: 8px;
}

.bin-btn2 {
	background: none repeat scroll 0 0 #ea5514;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	width: 170px;
}

.bin-btn2:hover {
	background: none repeat scroll 0 0 #dd2c09;
}

.mrb-wel-font a {
	font-size: 12px;
	color: #1bb8fa;
	text-decoration: none;
	margin-left: 5px;
}

.mrb-wel-font a:hover {
	text-decoration: underline;
}

.mo-addr-font {
	font-size: 24px;
	color: #000003;
}

.mo-addr-line {
	width: 870px;
	height: 7px;
	background: #f9f9f9;
	margin-top: 6px;
}

.mo-addr-cbox {
	width: 500px;
	padding: 15px;
	background: #f9f9f9;
	color: #333333;
}

.sd-tt-bg {
	background: url("images/csbg.png") repeat-x;
	width: 190px;
	height: 51px;
	margin-top: -1px;
	line-height: 51px;
	text-align: center;
	font-size: 20px;
	color: #cd3232;
}

.sd-about {
	width: 180px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background: #f5f5f5;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	font-weight:bold;
}

.sd-ul li {
	width: 190px;
	height: 25px;
}

.sd-ul li a {
	width: 160px;
	height: 25px;
	display: block;
	background: url("images/btn.png") no-repeat -181px -16px;
	line-height: 25px;
	padding-left: 30px;
	color: #333;
	text-decoration: none;
}

.sd-ul li a:hover {
	width: 160px;
	height: 25px;
	display: block;
	background: url("images/btn.png") no-repeat -181px 9px;
	line-height: 25px;
	padding-left: 30px;
	color: #c90000;
	text-decoration: underline;
}


.fh-sb-box{
	position:absolute;
	top:63px;
	right:0px;
	width:317px;
	border:1px solid #ddd;
	background:#fff;
	z-index:3000;
}

.news-join-goods {
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	padding-left: 10px;
}

.act-box {
	background: #bffab1;
	width: 297px;
	height: 20px;
	padding: 0 10px 0 10px;
}

.mj-font {
	background: #33bb00;
	color: #fff;
	padding: 0 1px 0 1px;
}

.njg-goods-cc {
	width: 297px;
	height: 55px;
	padding: 10px;
	border-top: 1px dotted #dadada;
}

.njg-goods-cc:hover {
	background: #f9f9f9;
}

.njg-gd-img {
	width: 50px;
	height: 55px;
	border: 1px solid #dadada;
}

.njg-gd-img {
	width: 50px;
	height: 55px;
	border: 1px solid #dadada;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.njg-gd-img img {
	max-width: 50px;
	max-height: 55px;
	text-align: center;
	vertical-align: middle;
}

.njg-goods-name {
	width: 150px;
	height: 55px;
	overflow: hidden;
	padding-left: 10px;
}

.njg-goods-name a {
	color: #333;
	text-decoration: none;
}

.njg-goods-name a:hover {
	text-decoration: underline;
	color: #d0191e;
}

.pn-font label {
	color: #e4393c;
	font-weight: bold;
}

.njg-js-box {
	width: 297px;
	background: #f5f5f5;
	padding: 10px;
}

.njg-total-box label {
	font-size: 12px;
	color: #333;
}

.njg-total-box span {
	font-size: 12px;
	color: #e4393c;
}

.njg-del {
	color: #005ea7;
	text-decoration: none;
}

.njg-del:hover {
	text-decoration: underline;
}

/* star */
#star {
	position: relative;
}

#star ul,#star span {
	float: left;
	display: inline;
	height: 19px;
	line-height: 19px;
}

#star ul {
	margin: 0 10px;
}

#star li {
	float: left;
	width: 24px;
	cursor: pointer;
	text-indent: -9999px;
	background: url(images/star.png) no-repeat;
}

#star strong {
	color: #f60;
	padding-left: 10px;
}

#star li.on {
	background-position: 0 -28px;
}

#star p {
	position: absolute;
	top: 20px;
	width: 200px;
	height: 90px;
	display: none;
	background: url(images/icon.gif) no-repeat;
	padding: 7px 10px 0;
}

#star p em {
	color: #f60;
	display: block;
	font-style: normal;
}


.t-num-font{
	font-size:18px;
	color:#333;
}
.t-num-font label{
	font-size:20px;
	color:#E81900;
}
.dnb-pf-box{
	padding:20px;
	width:848px;
}
.dnb-textarea-box textarea{
	width:828px;
	height:70px;
	border:1px solid #dadada;
	resize:none;
	padding:5px;
}
.history-pj-box{
	width:100%;
	height:50px;
	border-bottom:1px solid #dadada;
	line-height:50px;
	margin-top:15px;
}
.hpb-ul li{
	width:100%;
	padding:15px 0 15px 0;
	border-bottom:1px solid #dadada;
}
.hpb-pj-box{
	color:#333333;
	margin-top:10px;
}
.gray-xx-box{
	background:url("images/gray-xx.png") repeat-x;
	width:75px;
	height:14px;
	margin:2px 10px 0 10px;
	position:relative;
	
}
.og-xx-box{
	background:url("images/og-xx.png") repeat-x;
	height:14px;
	position:absolute;
	top:0px;
	left:0px;
}
.tb-title-ord{
	background-color: #f9f9f9;
    border: 1px solid #ddd;
    height: 10px;
    padding: 3px;
}