<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tocersoft.product.dao.IProductAttrDao">
	<resultMap type="productAttr" id="productAttrResultMap">
		<!--主键ID -->
		<id property="id" column="ID" />
		<!--创建人 -->
		<result property="createBy" column="C_CREATE_BY" />
		<!--创建时间 -->
		<result property="createDate" column="C_CREATE_DATE" />
		<!--更新人 -->
		<result property="updateBy" column="C_UPDATE_BY" />
		<!--更新时间 -->
		<result property="updateDate" column="C_UPDATE_DATE" />
		<!--是否删除标记：0-未删除，1-已删除 -->
		<result property="deleteFlag" column="C_DELETE_FLAG" />
		<!--产品ID -->
		<result property="productId" column="C_PRODUCT_ID" />
		<!--属性Id(自定义属性为000000) -->
		<result property="attrId" column="C_ATTR_ID" />
	</resultMap>

	<sql id="allColumnSql">
		o.ID,
		o.C_CREATE_BY,
		o.C_CREATE_DATE,
		o.C_UPDATE_BY,
		o.C_UPDATE_DATE,
		o.C_DELETE_FLAG,
		o.C_PRODUCT_ID,
		o.C_ATTR_ID
	</sql>

	<sql id="searchConditionSql">
		<if test="condition.productId != null and condition.productId != ''">
			AND o.C_PRODUCT_ID like '%${condition.productId}%' 
		</if>

	</sql>

	<select id="listProductAttrByPage" resultMap="productAttrResultMap">
		SELECT <include refid="allColumnSql"/>
		FROM product_attr o
		WHERE 1=1 <include refid="searchConditionSql"/> 
	</select>
	<select id="listProductAttrByPageCount" resultType="int">
		SELECT count(1) FROM product_attr o
		WHERE 1=1 <include refid="searchConditionSql"/> 
	</select>

	<select id="getProductAttrById" resultMap="productAttrResultMap">
		SELECT <include refid="allColumnSql"/>
		FROM product_attr o
		WHERE o.ID = #{id}
	</select>
	
	<select id="getProductAttrByPidAndAttrId" resultMap="productAttrResultMap">
		SELECT <include refid="allColumnSql"/>
		FROM product_attr o 
		WHERE o.C_PRODUCT_ID = #{productId} 
		AND o.C_ATTR_ID = #{attrId}
	</select>
	
	<select id="listProductAttrByPid" resultMap="productAttrResultMap">
		SELECT <include refid="allColumnSql"/>
		FROM product_attr o 
		WHERE o.C_PRODUCT_ID = #{productId} 
	</select>

	<insert id="add" parameterType="productAttr">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			SELECT SYS_GUID()
		</selectKey>
		INSERT INTO product_attr
		(
		ID,
		C_CREATE_BY,
		C_CREATE_DATE,
		C_UPDATE_BY,
		C_UPDATE_DATE,
		C_DELETE_FLAG,
		C_PRODUCT_ID,
		C_ATTR_ID
		)
		VALUES
		(
		#{id},
		#{createBy},
		SYSDATE(),
		#{updateBy},
		SYSDATE(),
		0,
		#{productId},
		#{attrId}
		)
	</insert>

	<update id="update" parameterType="productAttr" >
		UPDATE product_attr SET
		C_UPDATE_BY = #{updateBy},
		C_UPDATE_DATE = SYSDATE(),
		C_PRODUCT_ID = #{productId},
		C_ATTR_ID = #{attrId}
		WHERE ID = #{id}
	</update>

	<delete id="delByIds">
		DELETE FROM product_attr 
		WHERE ID IN 
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="delByProductId">
		DELETE FROM product_attr 
		WHERE C_PRODUCT_ID = #{productId}
	</delete>

</mapper>