.member-center-layout{
	width:1000px;
	margin: auto;
	min-height:500px;
}
.member-center-left-layout{
	width:220px;
	background: #efefef;
	margin-top:10px;
}
.mc-font{
	width:220px;
	height:43px;
	line-height:40px;
	color: #fff;
	background: #c51818;
}
.mc-c-font{
	font-size: 18px;
}
.mc-e-font{
	font-size: 10px;
}
.mc-list{
	width:218px;
	border:1px solid #dadada;
	height:500px;
}
.mc-list li{
	width:218px;
	height:48px;
	border-bottom: 1px solid #d0d0d0;
	border-top:1px solid #f7f7f7;
	color: #696969;
	position: relative;
	overflow: hidden;
}
.mc-list ul{
	border-bottom: 1px solid #f7f7f7;
}
.mc-list li a{
	color: #696969;
	display: block;
	text-decoration: none;
}
.basic-information{
	background: url("../images/basic-information.png") no-repeat 43px 10px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.basic-information:hover{
	background:#444546 url("../images/basic-information-hover.png") no-repeat 43px 10px;
    color: #FFFFFF;
    height: 38px;
    margin-left: -1px;
    margin-top: -2px;
    padding-left: 79px;
    padding-top: 11px;
    width: 140px;
}

.left-menu.cur.basic-information{
	background:#444546 url("../images/basic-information-hover.png") no-repeat 43px 10px;
    color: #FFFFFF;
    height: 38px;
    margin-left: -1px;
    margin-top: -2px;
    padding-left: 79px;
    padding-top: 11px;
    width: 140px;
}





.pro-jlb{
	background: url("../images/jlb.png") no-repeat 40px 11px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.pro-jlb:hover{
	background:#444546 url("../images/jlb-hover.png") no-repeat 40px 11px;
    color: #FFFFFF;
    height: 38px;
    margin-left: -1px;
    margin-top: -2px;
    padding-left: 79px;
    padding-top: 11px;
    width: 140px;
}

.pro-jlb.cur{
	background:#444546 url("../images/jlb-hover.png") no-repeat 43px 12px;
    color: #FFFFFF;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    margin-top: -2px;
    margin-left: -1px;
}


.online-pro-lcs{
	background: url("../images/online-lcs.png") no-repeat 40px 11px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}

.online-pro-lcs:hover{
	background:#444546 url("../images/online-lcs-hover.png") no-repeat 40px 11px;
    color: #FFFFFF;
    height: 38px;
    margin-left: -1px;
    margin-top: -2px;
    padding-left: 79px;
    padding-top: 11px;
    width: 140px;
}







.mc-ico.cur{
	background: url("../images/mc-ico.png") no-repeat;
	 height: 12px;
    position: absolute;
    right: -1px;
    top: 20px;
    width: 6px;
    z-index: 99;
}


.pro-tj{
	background: url("../images/pro.png") no-repeat 43px 12px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.pro-tj:hover{
	background:#444546 url("../images/pro-hover.png") no-repeat 43px 12px;
    color: #FFFFFF;
    padding-left: 79px;
    padding-top: 11px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
}
.left-menu.cur.pro-tj{
	background:#444546 url("../images/pro-hover.png") no-repeat 43px 12px;
    color: #FFFFFF;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    margin-top: -2px;
    margin-left: -1px;
}





.pro-lcs{
	background: url("../images/lcs.png") no-repeat 43px 16px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.pro-lcs:hover{
	background:#444546 url("../images/lcs-hover.png") no-repeat 43px 16px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}
.left-menu.cur.pro-lcs{
	background:#444546 url("../images/lcs-hover.png") no-repeat 43px 16px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}

.pro-vip{
	background: url("../images/vip.png") no-repeat 43px 16px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.pro-vip:hover{
	background:#444546 url("../images/vip-hover.png") no-repeat 43px 16px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}
.left-menu.cur.pro-vip{
	background:#444546 url("../images/vip-hover.png") no-repeat 43px 16px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}

.pro-jy{
	background: url("../images/jy.png") no-repeat 43px 14px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.pro-jy:hover{
	background:#444546 url("../images/jy-hover.png") no-repeat 43px 14px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}
.left-menu.cur.pro-jy{
	background:#444546 url("../images/jy-hover.png") no-repeat 43px 14px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}

.pro-upwd{
	background: url("../images/upwd.png") no-repeat 48px 10px;
    height: 36px;
    padding-left: 79px;
    padding-top: 11px;
}
.pro-upwd:hover{
	background:#444546 url("../images/upwd-hover.png") no-repeat 48px 10px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}
.left-menu.cur.pro-upwd{
	background:#444546 url("../images/upwd-hover.png") no-repeat 48px 10px;
    margin-top: -2px;
    margin-left: -1px;
    height: 38px;
    padding-left: 79px;
    padding-top: 11px;
    color: #fff;
}
.member-center-right-layout{
	width:780px;
	min-height:300px;
	margin-top: 10px;
}
.mcr-lbg{
	background:url("../images/mcr-lbg.png") no-repeat;
	width:23px;
	height:26px;
}
.mcr-content-bg{
	background: #f9f9f9;
	width:718px;
	border:1px solid #d8d8d1;
	height:630px;
	padding:30px;
	margin-left: -1px;
	position: relative;
}
.mcr-content-list{
	width:715px;
	border:1px solid #dadada;
	border-radius:4px 4px 4px 4px;
}
.mcr-title-bg{
	background:url("../images/tj-title-bg.png") repeat-x;
	width:700px;
	height:38px;
	border-radius:4px 4px 4px 4px;
	padding-left:15px;
	line-height:38px;
	font-size: 14px;
	color: #444546;
	font-family: "宋体";
	font-weight: bold;
}
.mcr-table-trbg{
	background:url("../images/mcr-table-bg.png") repeat-x;
	width:715px;
	height:36px;
	font-size:12px;
}
.mcr-table{
	font-size:12px;
	background: #fff;
}
.mcr-table th{
	text-align: center;
	height:36px;
}
.mcr-table td{
	text-align: center;
	height:35px;
}
.mcr-table a{
	color: #b61515;
	text-decoration: none;
}
.mcr-table a:hover{
	background: #b61515;
	color: #fff;
}
.red-col{
	color: #b61515;
}
.gray-bg{
	background: #f7f7f7;
}
.pro-bottom-bg{
	background:url("../images/pro-footerbg.png");
	width:778px;
	height:155px;
	position: absolute;
	bottom:-1px;
	left:0px;
}
.pwd-content-bg{
	background: #f9f9f9;
	width:718px;
	border:1px solid #d8d8d1;
	height:500px;
	padding:30px;
	margin-left: -1px;
	position: relative;
}
.pwd-title-bg{
	background:url("../images/pwd-title-bg.png") repeat-x;
	width:700px;
	height:36px;
	border-radius:4px 4px 4px 4px;
	padding-left:15px;
	line-height:38px;
	font-size: 14px;
	color: #444546;
	font-family: "宋体";
	font-weight: bold;
	border:1px solid #d8d8d1;
}
.red-btn{
	background: url("../images/red-btn.png") no-repeat;
	width:125px;
	height:35px;
	display: block;
	line-height:35px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}
.red-btn:hover{
	background: url("../images/red-btn-hover.png") no-repeat;
}
.trade-layout{
	width:685px;
	min-height:130px;
	background: #fff;
	border:1px solid #d8d8d1;
	margin-top:10px;
	padding:15px;
}
.tip-box{
	background:#fffafa url("../images/intro-ico.png") no-repeat 12px 11px;
    border: 1px solid #FFD4C0;
    color: #666666;
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 39px;
    padding-top: 12px;
    margin:50px auto;
}
.event-content-bg{
	background: #f9f9f9;
	width:718px;
	border:1px solid #d8d8d1;
	height:1150px;
	padding:30px;
	margin-left: -1px;
	position: relative;
}
.ord-content-bg{
	background: #f9f9f9;
	width:718px;
	border:1px solid #d8d8d1;
	padding:30px;
	margin-left: -1px;
	position: relative;
}
.event-list-layout{
	border: 1px solid #E0E0E0;
    height: 117px;
    margin-top: 5px;
    padding: 10px 15px;
    position: relative;
    width:685px;
    background: #fff;
}
.ord-det-layout{
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    margin-bottom: 142px;
    margin-top: 5px;
    padding: 10px 15px 40px;
    position: relative;
    width: 685px;
}
.event-list-title a{
	color: #444546;
    font-size: 18px;
    text-decoration: none;
}
.event-list-title a:hover{
	color: #b52720;
    text-decoration: underline;
}
.event-list-content{
	width:550px;
}
.flc-p{
	 color: #8F9090;
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 20px;
    word-wrap: break-word;
}
.flc-p-ord{
	color: #8f9090;
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
    border: 1px solid #ffe9db;
    background: #fff6f0;
}
.flc-b-col {
    color: #444546;
    font-size: 12px;
}
.flc-r-col {
   color: #B90303;
    font-size: 12px;
    font-weight: bold;
}
.event-detail-btn{
	 background: url("../images/front-detail-bg.png") no-repeat;
    bottom: 0;
    display: block;
    height: 53px;
    position: absolute;
    right: 0;
    width: 55px;
}
 .event-detail-btn:hover{
	background: url("../images/front-detail-bg-hover.png") no-repeat;
}
.index-content-bg{
	background: #f9f9f9;
	width:718px;
	border:1px solid #d8d8d1;
	height:600px;
	padding:30px;
	margin-left: -1px;
	position: relative;
}
.index-select-box{
	width:480px;
	height:45px;
	border:1px solid #ffd4c0;
	background: #fffafa;
	margin:12px 0 0;
	padding:10px;
}
.index-select-box{
	font-size: 14px;
	color: #696969;
	font-family: 微软雅黑;
}

.nll-tt {
    color: #333333;
    font-size: 12px;
    margin-top: 2px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 370px;
}
.nll-tt:hover{
	color:#bc1511;
	text-decoration: underline;
}
.news-list-layout {
    border-bottom: 1px dotted #D9D9D9;
    padding: 10px 0 15px;
}

.num-col {
    color: #AB0303;
    font-weight: bold;
}
.list-layout-hd{
	border: 1px solid #E0E0E0;
    margin-top: 5px;
    padding: 10px 15px;
    position: relative;
    width: 685px;
    background: #fff;
}
.hs-yyrx-content{
	font-size: 12px;
    line-height: 25px;
    margin-top: 15px;
}
.yu-fs-bar{
	height:40px;
	background: #b81616;
	color:#fff;
	padding-left:20px;
	line-height: 40px;
}
.order-detail-yy{
	border: 1px solid #D3D3D3;
    height: 122px;
    padding: 20px;
    width: 643px;
    position: relative;
    z-index: 100;
}
.hs-ly-btn{
	background: url("../images/zxyu-ord-img.png") no-repeat -9px 0;
	width:180px;
	display:block;
	height:60px;
}
.hs-ly-btn:hover{
	background: url("../images/zxyu-ord-img.png") no-repeat -9px -56px;
}
.pwc-left{
	width:200px;
}
.pwc-right{
	width:325px;
}

.predoct-img img {
    border: 2px solid #E0E0E0;
}
fieldset, img {
    border: 0 none;
}
html {
    color: #333333;
    font-family: "微软雅黑";
}
.hs-yyrx {
    color: #BC1511;
    font-size: 20px;
    margin-top: 10px;
}
.yyy-img{
	background: url("../images/yyy-img.png") no-repeat;
    display: block;
    height: 97px;
    left: -6px;
    position: absolute;
    top: -6px;
    width: 96px;
    z-index: 100;
}
.line-ord{
	background: none repeat scroll 0 0 #D9D9D9;
    display: block;
    height: 94px;
    left: 293px;
    position: absolute;
    top: 41px;
    width: 1px;
}







.msg-box {
	position: absolute;
	width: 100%;;
	top: 0px;
	left:0px;
	background: url("../images/box-vo.png");
	z-index: 9999;
	opacity: 0.5;
}
.msg-box-content {
	width:650px;
	height:401px;
	background: #fbfbfb;
	position: fixed;
	top: 145px;
	left: 30%;
	z-index:99999;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 3px 3px 40px 0 #333333;
	border:1px solid #8a2524;
	color: #666666;
}
.trade-box-content{
	width:650px;
	height:240px;
	background: #fbfbfb;
	position: fixed;
	top: 145px;
	left: 30%;
	z-index:999999;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 3px 3px 40px 0 #333333;
	border:1px solid #8a2524;
}
.od-box-tbg{
	background: url("../images/tbg.png") repeat-x;
	height:64px;
	width:100%;
	position: relative;
}
.od-box-title{
	background: url("../images/od-title.png") no-repeat;
	width:174px;
	height:47px;
	position: absolute;
	top:20px;
	left:-10px;
}
.trade-box-title{
	background: url("../images/xy-bg.png") no-repeat;
	width:174px;
	height:47px;
	position: absolute;
	top:20px;
	left:-10px;
}
.od-close-btn{
	background: url("../images/od-close-btn.png") no-repeat;
	width:17px;
	height:17px;
	float: right;
	margin:12px 12px 0 0;
	display: block;
}
.od-close-btn:hover{
	background: url("../images/od-close-btn-hover.png") no-repeat;
	width:17px;
	height:17px;
	float: right;
	margin:12px 12px 0 0;
	display: block;
}
.od-box-select{
	padding:10px 30px 20px 30px;
}
.od-t{
	width:110px;
	text-align: left;
	font-size: 12px;
	line-height:25px;
}
.od-type{
	font-size: 12px;
	line-height:23px;
}
.od-text{
	border:1px solid #e0e0e0;
	height:20px;
	line-height:20px;
}
.od-explain{
	font-size: 12px;
}
.mt7{
	margin-top:7px;
}
.ml44{
	margin-left: 44px;
}
.od-textarea{
	border:1px solid #e0e0e0;
	resize:none;
	overflow-y:hidden;
	*margin-left:5px;
}
.od-btn-bg{
	background: url("../images/btn-bg.png") no-repeat;
	width:359px;
	height:40px;
	margin: auto;
	margin-top:10px;
	*margin-top:13px;
	padding:10px 0 0 100px;
}
.commit-btn{
	background: url("../images/od-cbtn.png") no-repeat;
	width:125px;
	height:35px;
	display: block;
	text-align: center;
	line-height:35px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.commit-btn:hover{
	background: url("../images/od-cbtn-hover.png") no-repeat;
}
select{
	color: #666666;
}
.trade-title{
	font-size: 20px;
	color: #594712;
	text-align: center;
}
.trade-text-bg{
	background: url("../images/trade-text-bg.png") no-repeat;
	width:590px;
	height:35px;
	margin-top:10px;
}	
.trade-text{
	width:570px;
	height:30px;
	margin-top:2px;
	margin-left: 10px;
	line-height:30px;
	background: none;
	border:0 none;
	color: #666;
}
.trade-btn{
	float: right;
	margin-top:40px;
}	
.btn-ljyu{
	color:#fff;
	padding:3px 10px;
	background-color:#c20006;
	font-size:14px;
	text-decoration: none;
}
.btn-ljyu:hover{
	background-color:#da0007;
}
