/META-INF/
/appconfig.properties
/com/
/dbconfig.properties
/freemarker.properties
/i18n_en_US.properties
/i18n_zh_CN.properties
/kindeditor.properties
/log4j.properties
/oscache.properties
/spring-security.xml
/spring.xml
/sqlmap-config.xml
/struts.properties
/struts.xml
/weixin.properties
/xwork-conversion.properties
